#options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  min-height: 70vh;
}

button {
  text-align: left;
  padding: 2em;
  border: none;
  background-color: white;
}

body {
  font-family: sans-serif;
  background-color: lightgrey;
}

#options > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overview {
  display: grid;
  grid-template-columns: 50% 50%;
}

#trendOverview > div {
  cursor: pointer;
}

#overview > div {
  padding: 2em;
}

#overview > div > div {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

button {
  height: 80%;
  width: 80%;
}

h1,
h2 {
  text-align: center;
  font-family: sans-serif;
}

body {
  text-align: center;
}

.correct {
  background-color: lightgreen;
}

.wrong {
  background-color: lightcoral;
}
