#options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 70vh;
}

#options > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overview {
  display: grid;
  grid-template-columns: 50% 50%;
}

#overview > div {
  padding: 2em;
}

#overview > div > div {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

button {
  height: 80%;
  width: 80%;
}

h1,
h2 {
  text-align: center;
  font-family: sans-serif;
}

body {
  text-align: center;
}
