<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hashtag Guesser</title>
    <link rel="stylesheet" type="text/css" href="./../../style/style.css">
</head>
<body>
<%= console.log(areaname, areacode)%>
<a href="/">Back to home</a>
     <h3>Region: <%= areaname %></h3>
     <script>
        var region = <%= areacode %>            
     </script>
    <h1>Hashtag Guesser</h1>
    <h2 id='points'>0</h2>
    <div id="options">
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./../../javascript/index.js"></script>
</html>
