<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hashtag Guesser</title>
    <link rel="stylesheet" type="text/css" href="./../../style/style.css">
</head>
<body>
    <h1>Hashtag Guesser</h1>
    <p>Guess which subject is the most popular right now on Twitter!</p>
    <p>You can pick one of the following regions:</p>
    <a href="/game/nl">The Netherlands</a>
    <a href="/game/world">Worldwide</a>
    <a href="/game/us">The United States</a>
    <a href="/game/germany">Germany</a>

</body>
</html>
