<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hashtag Guesser</title>
    <link rel="stylesheet" type="text/css" href="./../../style/style.css">
</head>
<body>
    <h1>Hashtag Guesser</h1>
    <p>The region "<%= request %>" is not (yet) in the game. You can pick another region from the start menu. </p>
    <a href="/">Back to home</a>

</body>
</html>
